<!-- Footer -->
<footer class="footer p-10 bg-yellow-50 shadow-2xl mt-10" style="transition: background-color 0.5s ease, color 0.5s ease;">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between space-y-4 md:space-y-0 px-4">
        <!-- Social Media Icons -->
        <div class="flex space-x-6 justify-center md:justify-start">
            <a href="https://www.linkedin.com/in/itisaddy/" target="_blank" rel="noopener" aria-label="LinkedIn" class="text-gray-600 hover:text-blue-600 transition duration-300 transform hover:scale-110 hover:shadow-lg p-3 rounded-full">
                <i class="fab fa-linkedin-in text-2xl"></i>
            </a>
            <a href="https://www.instagram.com/i__aditya7?igsh=c2JzeHl2a2J6NGU=" target="_blank" rel="noopener" aria-label="Instagram" class="text-gray-600 hover:text-pink-500 transition duration-300 transform hover:scale-110 hover:shadow-lg p-3 rounded-full">
                <i class="fab fa-instagram text-2xl"></i>
            </a>
            <a href="https://github.com/Xenonesis" target="_blank" rel="noopener" aria-label="GitHub" class="text-gray-600 hover:text-gray-800 transition duration-300 transform hover:scale-110 hover:shadow-lg p-3 rounded-full">
                <i class="fab fa-github text-2xl"></i>
            </a>
        </div>

        <!-- Copyright Text -->
        <div class="text-center md:text-right mt-4 md:mt-0 text-gray-600">
            &copy; <span id="currentYear"></span> Aditya. All rights reserved.
        </div>
    </div>
</footer>
